@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

:root {
    /* Set via JS, defines the horizontal offset.
       This includes parallax. */
    --anim-offset: 0;
    /* The one-time Azachon animation's offset.
       These are 23 frames (including the final empty one), each
       taking 100ms. The 23rd frame is empty. */
    --azachon-anim-offset: 0;
    /* Multiples of 0.625vw if horizontally maximally sized.
       Multiples of 1.111vh if vertically maximally sized. */
    --aspect-ratio-factor: 0.625vw;
    /* What title to use. */
    --title-id: 0;
    /* What background to use. */
    --background-id: 0;
}
@media (min-aspect-ratio: 16/9) {
    :root {
        --aspect-ratio-factor: 1.1111111111vh;
    }
}

body {
    /* background-color: #0f0f0f; */
    background-color: #F0F;
    margin: 0;
}

#player {
    position: relative;
    aspect-ratio: 16/9;
    max-height: 100vh;
    height: auto;
    margin: auto;

    background-image:
        url("/resources/ffof/background0.png"),
        url("/resources/ffof/background1.png"),
        url("/resources/ffof/background2.png"),
        url("/resources/ffof/background3.png"),
        url("/resources/ffof/background4.png");
    background-size: cover;
    image-rendering: pixelated;
    background-repeat: repeat-x;
    background-position-x:
        0,
        calc(-5 * var(--anim-offset) * var(--aspect-ratio-factor)),
        calc(-2 * var(--anim-offset) * var(--aspect-ratio-factor)),
        calc(-1 * var(--anim-offset) * var(--aspect-ratio-factor)),
        0;
    background-position-y: calc((var(--background-id) / 5) * 100%);
    
    font-family: "Tiny5", sans-serif;
    color: white;
    font-size: calc(7.5 * var(--aspect-ratio-factor));
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url("/resources/ffof/azzyboy.png");
    background-size: cover;
    image-rendering: pixelated;
    background-position-y: calc((var(--azachon-anim-offset) / 22) * 100%);

    text-align: center;
}

#track-title {
    position: absolute;
    width: calc(110 * var(--aspect-ratio-factor));
    height: calc(17 * var(--aspect-ratio-factor));
    right: calc(7 * var(--aspect-ratio-factor));
    top: calc(4 * var(--aspect-ratio-factor));
    background-image: url("/resources/ffof/tracknames.png");
    background-size: cover;
    image-rendering: pixelated;
    background-position-y: calc((var(--title-id) / 26) * 100%);
}

#subs {
    position: absolute;
    width: calc(110 * var(--aspect-ratio-factor));
    height: calc(60 * var(--aspect-ratio-factor));
    right: calc(7 * var(--aspect-ratio-factor));
    bottom: calc(4 * var(--aspect-ratio-factor));
    align-content: end;
    /* Don't forget to text-align in js-land! */
}

/* Lol right, forgot, I'm using the font tag.
   Otherwise previewing the srt locally doesn't work.
   Anyways, these two properties are needed for the
   right-aligned subs whenever person 2 speaks. */
#subs>font {
    display: block;
    width: 100%;
}