@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

:root {
    /* Set via JS, defines the horizontal offset.
       This includes parallax. */
    --anim-offset: 0;
    /* Defines the animation independent of parallax. */
    --detail-anim-offset: 0;
    /* The one-time Azachon animation's offset.
       These are 23 frames (including the final empty one), each
       taking 100ms. The 23rd frame is empty. */
    --azachon-anim-offset: 0;
    /* Multiples of 0.625vw if horizontally maximally sized.
       Multiples of 1.111vh if vertically maximally sized.
       Exceptions: For many screen resolutions we manually set
       this to some round Npx file so that there are no
       artifacts. That mess is at the bottom of this file.
       The size of a pixel. */
    --pixel-size: 0.625vw;
    /* What title to use. */
    --title-id: 0;
    /* What background to use. */
    --background-id: 0;
}
@media (min-aspect-ratio: 16/9) {
    :root {
        --pixel-size: 1.1111111111vh;
    }
}

html, body {
    height: 100%;
}

body {
    background-color: #0f0f0f;
    margin: 0;
    
    font-family: "Tiny5", sans-serif;
    color: white;
    font-size: calc(7.5 * var(--pixel-size));
}

#player {
    position: relative;
    aspect-ratio: 16/9;
    max-width: calc(160 * var(--pixel-size));
    max-height: 100vh;
    height: auto;
    margin: auto;

    background-image:
        url("/resources/ffof/background0.png"),
        url("/resources/ffof/background1.png"),
        url("/resources/ffof/background2.png"),
        url("/resources/ffof/background3.png"),
        url("/resources/ffof/background4.png");
    background-size: cover;
    image-rendering: pixelated;
    background-repeat: repeat-x;
    background-position-x:
        0,
        calc(-5 * var(--anim-offset) * var(--pixel-size)),
        calc(-2 * var(--anim-offset) * var(--pixel-size)),
        calc(-1 * var(--anim-offset) * var(--pixel-size)),
        0;
    /* The images are 15 groups of 4*/
    background-position-y: calc( ((var(--background-id) * 4 + var(--detail-anim-offset)) / 59) * 100% );
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url("/resources/ffof/azzyboy.png");
    background-size: cover;
    image-rendering: pixelated;
    background-position-y: calc((var(--azachon-anim-offset) / 22) * 100%);

    text-align: center;
}

#track-title {
    position: absolute;
    width: calc(110 * var(--pixel-size));
    height: calc(17 * var(--pixel-size));
    right: calc(7 * var(--pixel-size));
    top: calc(4 * var(--pixel-size));
    background-image: url("/resources/ffof/tracknames.png");
    background-size: cover;
    image-rendering: pixelated;
    background-position-y: calc((var(--title-id) / 26) * 100%);
}

#subs {
    position: absolute;
    width: calc(110 * var(--pixel-size));
    height: calc(60 * var(--pixel-size));
    right: calc(7 * var(--pixel-size));
    bottom: calc(4 * var(--pixel-size));
    /* To allow containing `font` to put at end. */
    display: flex;
}

/* Lol right, forgot, I'm using the font tag.
   Otherwise previewing the srt locally doesn't work.
   Anyways, these two properties are needed for the
   right-aligned subs whenever person 2 speaks. */
#subs>font {
    display: block;
    width: calc(100% - 10 * var(--pixel-size));
    padding-right: calc(10 * var(--pixel-size));
    align-self: flex-end;
}
#subs>font.speaker2 {
    text-align: right;
    padding-right: 0;
    padding-left: calc(10 * var(--pixel-size));
}

#ur-doin-it-wrong {
    display: none;
}

@media (max-aspect-ratio: 1/1) {
    #ur-doin-it-wrong {
        width: 100%;
        display: block;
        position: absolute;
        bottom: -200px;
        text-align: center;
        color: gray;
    }
}

/* Enforce proper pixel art without pixel artifacts */
@media (max-aspect-ratio: 16/9) {
    /* print(''.join([f"    @media (min-width: {160*i}px) and (max-width: {160*i+159}px) {{\n        :root {{ --pixel-size: {i}px; }}\n        #player {{ max-width: {160*i}px; }}\n    }}\n" for i in range(1,13)])) */
    @media (min-width:  160px) and (max-width:  319px) { :root { --pixel-size: 1px; } }
    @media (min-width:  320px) and (max-width:  479px) { :root { --pixel-size: 2px; } }
    @media (min-width:  480px) and (max-width:  639px) { :root { --pixel-size: 3px; } }
    @media (min-width:  640px) and (max-width:  799px) { :root { --pixel-size: 4px; } }
    @media (min-width:  800px) and (max-width:  959px) { :root { --pixel-size: 5px; } }
    @media (min-width:  960px) and (max-width: 1119px) { :root { --pixel-size: 6px; } }
    @media (min-width: 1120px) and (max-width: 1279px) { :root { --pixel-size: 7px; } }
    @media (min-width: 1280px) and (max-width: 1439px) { :root { --pixel-size: 8px; } }
    @media (min-width: 1440px) and (max-width: 1599px) { :root { --pixel-size: 9px; } }
    @media (min-width: 1600px) and (max-width: 1759px) { :root { --pixel-size: 10px; } }
    @media (min-width: 1760px) and (max-width: 1919px) { :root { --pixel-size: 11px; } }
    @media (min-width: 1920px) and (max-width: 2239px) { :root { --pixel-size: 12px; } }
    @media (min-width: 2240px) and (max-width: 2559px) { :root { --pixel-size: 14px; } }
    @media (min-width: 2560px) and (max-width: 2879px) { :root { --pixel-size: 16px; } }
    @media (min-width: 2880px) and (max-width: 3199px) { :root { --pixel-size: 18px; } }
    @media (min-width: 3200px) and (max-width: 3519px) { :root { --pixel-size: 20px; } }
    @media (min-width: 3520px) and (max-width: 3839px) { :root { --pixel-size: 22px; } }
    /* Higher than 4k and you can just suffer from 1px off artifacts, you're not even gonna see them. */
}
@media (min-aspect-ratio: 16/9) {
    @media (min-height:   90px) and (max-height:  179px) { :root { --pixel-size: 1px; } }
    @media (min-height:  180px) and (max-height:  269px) { :root { --pixel-size: 2px; } }
    @media (min-height:  270px) and (max-height:  359px) { :root { --pixel-size: 3px; } }
    @media (min-height:  360px) and (max-height:  449px) { :root { --pixel-size: 4px; } }
    @media (min-height:  450px) and (max-height:  539px) { :root { --pixel-size: 5px; } }
    @media (min-height:  540px) and (max-height:  629px) { :root { --pixel-size: 6px; } }
    @media (min-height:  630px) and (max-height:  719px) { :root { --pixel-size: 7px; } }
    @media (min-height:  720px) and (max-height:  809px) { :root { --pixel-size: 8px; } }
    @media (min-height:  810px) and (max-height:  899px) { :root { --pixel-size: 9px; } }
    @media (min-height:  900px) and (max-height:  989px) { :root { --pixel-size: 10px; } }
    @media (min-height:  990px) and (max-height: 1079px) { :root { --pixel-size: 11px; } }
    @media (min-height: 1080px) and (max-height: 1259px) { :root { --pixel-size: 12px; } }
    @media (min-height: 1260px) and (max-height: 1439px) { :root { --pixel-size: 14px; } }
    @media (min-height: 1440px) and (max-height: 1619px) { :root { --pixel-size: 16px; } }
    @media (min-height: 1620px) and (max-height: 1799px) { :root { --pixel-size: 18px; } }
    @media (min-height: 1800px) and (max-height: 1979px) { :root { --pixel-size: 20px; } }
    @media (min-height: 1980px) and (max-height: 2159px) { :root { --pixel-size: 22px; } }
    /* Higher than 4k and you can just suffer from 1px off artifacts, you're not even gonna see them. */
}