<div class="footergap"></div>
<footer>
    <span class="nowrap">Problems, typos, or suggestions?</span>
    <span class="nowrap"><a href="https://github.com/Atrufulgium/atrufulgium.github.io/issues">Create an issue on Github</a>!</span>
    <br/>
    <span class="nowrap">© Atrufulgium 2020-2025.</span>
    <span class="nowrap">Poke me on... iunno, <a href="https://www.reddit.com/user/Atrufulgium/">reddit</a>? <a href="https://www.youtube.com/@atrufulgium">youtube</a>?</span>
    <span class="nowrap">Not much of a social media guy.</span>
</footer>