<!-- Browsers *probably* support loading css/js from here, even if you're supposed to put it in head, right? -->
<link rel="stylesheet" type="text/css" href="/css/julia.css" />
<script src="/js/math2webgl.js"></script>
<script src="/js/julia.js"></script>
<div id="plotanchor" style="position: relative; top: -45px;"></div>
<div class="plotcontainer">
    <div class="plotcontent">
        <canvas class="plot" width="100" height="100">
            Your browser does not support the Canvas element. Uhmm... I don't know what to say. Enable javascript? Use a browser that's not as ancient?
        </canvas>
    </div>
    <div class="plotcontrols">
        \(z \mapsto f(z) =\) <input id="equation" class="textinput" type="text" onchange="resetViewAndPlotJulia();" placeholder="enter a formula..." alt="Julia plot formula input" value="z^3 - |z| - 0.99i">
        <button onclick="resetViewAndPlotJulia();" class="musicbutton">plot</button>
    </div>
    <pre class="errorout" style="margin-top: -2px;" id="errorout"></pre>
    Here's some presets for you to try! (Click the math.)
    <ul>
        <li><span onclick='setAndPlotJulia("z^2 + 0.7i")' class="clickable" >\(z^2 + 0.7i\)</span> is a classic.</li>
        <li><span onclick='setAndPlotJulia("z^2 - 0.4 - 0.6i")' class="clickable" >\(z^2 - 0.4 - 0.6i\)</span> reminds me of <a href="https://en.wikipedia.org/wiki/Romanesco_broccoli">that brocolli</a> somewhat.</li>
        <li><span onclick='setAndPlotJulia("cos(2z)")' class="clickable" >\(\cos(2z)\)</span> is very spiky.</li>
        <li><span onclick='setAndPlotJulia("z^(2acosh(z))")' class="clickable" >\(z^{2\text{acosh}(z)}\)</span> really suffers onder floating point.</li>
        <li><span onclick='setAndPlotJulia("z^5 + fract(|z|)")' class="clickable" >\(z^5 + \text{fract}(|z|)\)</span> gives a cool bubble-shape.</li>
        <li><span onclick='setAndPlotJulia("|z+1|z - |z|")' class="clickable" >\(|z+1|\cdot z - |z|\)</span> is some weird spear.</li>
        <li><span onclick='setAndPlotJulia("z^3 - 0.15z - 0.99i")' class="clickable" >\(z^3 - 0.15z - 0.99i\)</span> gives a bunch of stacked heart-shapes.</li>
        <li><span onclick='setAndPlotJulia("z^2 - im(z)i")' class="clickable" >\(z^2 - \text{Im}(z)i\)</span> looks like a bunch of grasping hands.</li>
        <li><span onclick='setAndPlotJulia("sin(z)(z^2 + 1.2 + 0.2i)")' class="clickable" >\(\sin(z)(z^2 + 1.2 + 0.2i)\)</span> has neat double spirals.</li>
        <li><span onclick='setAndPlotJulia("z^2 + 1.1sgn(re(z))iz")' class="clickable" >\(z^2 + 1.1\text{sgn}(\text{Re}(z))iz\)</span> folds into itself nicely at the origin.</li>
    </ul>
</div>